  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Variable-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

  }




}

}

}
}
}

}

}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: var(--vw);
  height: var(--vh);
  font-family: "Inter", sans-serif;
  mask: linear-gradient(#000 0 0);
  transform-origin: top left;
}

}

  position: absolute;

}

  text-transform: uppercase;
}

  top: 0;
  pointer-events: none;
}

  margin: 0;
  display: flex;
  justify-content: space-between;
}

  margin: 0;
  text-transform: uppercase;
}

}

  display: flex;
}

  border-radius: 999px;
  color: #fff;
}

}

  }

  }

  }

  }
}
